<!-- <div id="comment" style='padding:10px;' class="vcomment"></div> -->
<div style="padding:30px">
    <div style="height: 30px;"></div>
    <hr>
    <h2 style="font-size: 28px;">你终于看完了！</h2>
    <p>如果你对这篇文章有任何想法或者对Keyboard本人有什么看法，随便什么东西，甚至是“hhh”，都可以在下面留言。随便吐槽，反正我不会看的...</p>
    <p>这是完全匿名的，当然你也可以留个名，甚至留个邮箱（邮箱只有我可见），因为如果你有什么有趣的留言我可能会好奇想认识一下你</p>
    <p>而且我关掉了邮件提醒功能，所以不管你留不留邮箱，你都不会收到关于你评论的回复的提醒（我也不会收到提醒）</p>
    <p><em>（老实说，我偶尔会看的...）</em></p>
</div>
<div id="vcomments" style="padding: 10px"></div>
<%- partial('_widget/comment/' + theme.comment.use + '/main') %>