<%
if (!page.banner_img) {
  page.banner_img = theme.post.banner_img
}
page.banner_img_height = theme.post.banner_img_height
%>

<div class="post-content mx-auto" id="post">
  <div class="markdown-body">
    <%- page.content %>
  </div>
</div>
